:root {
    --bg-light: #646b73;
    --bg-medium: #434c51;
    --bg-dark: #242f35;
    --bg-darker: #181e22;

    --track-light: #34444e;
    --track-dark: #2e3e48;

    --border-color: #010102aa;

    --text-color: aliceblue;
}

* {
    user-select: none;
}

::-webkit-scrollbar {
    background-color: var(--bg-dark);
    box-shadow: inset 0px 0px 6px 5px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg-medium);
    
    border-style: solid;
    border-color: #000000aa;
    border-width: 1px;
    box-shadow: inset 0 0 0 1px #69757c90;
}

::-webkit-scrollbar-corner {
    background-color: var(--bg-medium);
}

html {
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*font-family: 'Open Sans', sans-serif;*/
    font-size: smaller;
}

header {
    background-color: #596267;
    height: min-content;
}

.header_top, .header_bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
}

body {
    background-color: blue;
    margin: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#content {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: var(--bg-medium);
}

.sidebar {
    background-color: #161f24;
    margin-right: -4px;
    flex-grow: 1;
    min-width: 100px;
    width: 180px;
    position: relative;
}

.sidebar_header {
    width: 100%;
    height: 50px;
    padding-top: 5px;
    background-color: #434c51;
    box-shadow: inset 0 0 0 1px #00000050;
}

.sidebar_header_scope {
    width: 100%;
    height: 40%;
    color: #7d8486;
    display: flex;
    padding-left: 2px;
}

.sidebar_header_scope > .tool_button {   
    color: #7d8486;
    width: 12px;
    height: 17px;
    margin: 0 2px 0 2px;
    border-radius: 4px;
}
#sidebar_caret_right > i {
    margin: 0 0 0 -1px!important;
}
#sidebar_caret_right:hover > i {
    transform: rotateZ(90deg);
}
#sidebar_caret_right:hover {
    outline: solid 2px #f69238;
    color: #f69238;
    outline-offset: 0px;
}
#sidebar_up_arrow:hover, #sidebar_reply:hover, #sidebar_search:hover {
    outline: solid 2px #9bef7d;
    color: #9bef7d;
    outline-offset: 0px;
}
#sidebar_up_arrow > i {
    margin-left: 0px!important;
}
#sidebar_reply {
    width: 14px!important;
}
#sidebar_reply > i {
    margin-left: -1px!important;
}
#sidebar_search {
    width: 16px!important;
}
#sidebar_search > i {
    margin-left: 0px!important;
}

.sidebar_header_type {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sidebar_header_type > .tool_button {
    color: #7d8486;
    transform: scale(1.0);
    width: 2.7vw;
    height: inherit;
    border-radius: 7px;
}

#sidebar_wave:hover, #sidebar_file:hover {
    outline: solid 2px #ffc43f;
    color: #ffc43f;
    outline-offset: 0px;
}
#sidebar_plugin:hover {
    outline: solid 2px #7ec6ff;
    color: #7ec6ff;
    outline-offset: 0px;
}

.main_content {
    flex-grow: 20;
    min-width: 0;
    height: inherit;
    width: calc(100% - 138px); /* window width - sidebar width */
}

.sidebar_resize {
    cursor: w-resize;
    width: 8px;
    left: 0px;
    margin-right: -4px;
    top: 0px;
    bottom: 0px;
    z-index: 2;
    min-width: 8px;
}







.tracks_wrapper {
    height: inherit;
    padding: 0px 5px 0px 5px;
    background-color: #3f484d;
    box-shadow: inset 0 0 0 1px var(--border-color);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.tracks_top_bar {
    height: 42px;
    width: inherit;
    background-color: #3f484d;
    display: flex;
    flex-direction: row;
}

.tracks_top_bar_scrollbar {
    width: inherit;
    height: 50%;
    position: relative;
    background-color: var(--bg-dark);
    box-shadow: inset 0px 0px 6px 5px rgba(0,0,0,0.3);
}

.tracks_top_bar_scrollbar_left, .tracks_top_bar_scrollbar_right {
    background-color: var(--bg-light);
    width: 20px;
    height: 100%;
    margin: 0px;
    box-shadow: inset 0 0 0 1px var(--border-color), inset 0 0 0 2px #69757c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-chevron-left, .fa-chevron-right {
    color: var(--bg-dark);
}

.tracks_top_bar_scrollbar_handle {
    width: 100px;
    height: 100%;
    background-color: var(--bg-light);
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px #000000aa, inset 0 0 0 2px #69757c;
    position: absolute;
    float: left;
    left: 20px;
}

.tracks_top_bar_bars {
    width: inherit;
    height: 50%;
    background-color: #192328;
    /*display: flex;
    flex-direction: row;*/
    overflow: hidden;
    user-select: none;
    position: relative;
}

.bars_labels {
    color: white; 
    margin: 0px 0px 0px 28px; 
    font-size: 20px;
}

.tracks {
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 100%;
    flex-grow: 1;
    position: relative;
    height: 100%;
}

main::-webkit-scrollbar {
    color: blue!important;
    background-color: blue!important;
}

.track_add {
    display: flex;
    justify-content: center;
}

.track_add > label{
    color: #ffffff55;
    font-weight: 900;
    cursor: pointer;
    user-select: none;
}

.track {
    /*height: 100px; specifying the dimensions of the canvas here will cause wrong coordinates
    width: 2100px;*/
    min-height: 100px;
    max-height: 300px;
}

#track_wrap {
    width: 100%;
    height: inherit;
    min-height: 100px;
    max-height: 300px;
    display: flex;
    color: var(--text-color);
    position: relative;
    z-index: 0;
}

#track_resize {
    width: inherit;
    height: 10px;
    margin-top: -5px;
    margin-bottom: -5px;
    cursor: n-resize;
    width: inherit;
    position: relative;
    z-index: 1;
}

.description {
    max-width: 200px;
    min-width: 100px;
    border-radius: 0px 10px 10px 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(86, 51, 161);
    background-color: #5e39ab;
    user-select: none;
    display: flex;
    flex-direction: column;
    position: relative;
}

.description > .fa-ellipsis {
    color: #00000050;
    position: absolute;
    margin-left: 5px;
    bottom: 0px;
}

.description > .radio_btn {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #000000;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff8a;
    width: 12px;
    height: 12px;
    margin-right: 3px;
    margin-bottom: 3px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio_btn > .radio_btn_green {
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background-color: rgb(50, 255, 32);
    box-shadow: inset 0 -1px 2px 2px #ffffffaa;
}

.track_content {
    /*border-radius: 2px;
    border-style: none solid solid solid;
    border-width: 1px;
    border-color: var(--border-color);*/
    flex-grow: 1;
    position: relative;
    z-index: 0;
}

.track_background {
    width: 2000px;
    height: 100%;
    position: absolute;
    z-index: 0;
}

#track_canvas {
    width: 100%;
    height: 100%;
}

.track_object {
    position: absolute;
    background-color: rgba(255, 0, 0, 0.3);
    width: 160px;
    height: 100%;
}

.track_object_label {
    width: 100%;
    height: 15px;
    background-color: rgba(255, 0, 0, 1.0);
    border-radius: 3px;
    box-shadow: inset 0px -2px 4px 0px rgba(0, 0, 0, 0.45);
    position: relative;
    z-index: 1;
}

.track_object_label > p {
    color: var(--text-color);
    font-size: 10px;
    padding: 2px;
    margin: 0px;
}

.track_object > canvas {
    /*width: inherit;
    height: inherit;*/
    margin-top: -15px;
}

.track_object_resize_left {
    width: 6px;
    height: inherit;
    position: absolute;
    cursor: e-resize;
    z-index: 4;
}

.track_object_resize_right {
    width: 6px;
    height: inherit;
    position: absolute;
    cursor: e-resize;
    margin-right: -6px;
    top: 0px;
    right: 0px;
    z-index: 4;
}






.tracks_tool_bar {
    display: flex;
    flex-direction: row;
    height: 22px;
    margin-top: 7px;
    margin-bottom: 3px;
}

.tracks_tool_bar > p {
    margin: 0 0 0 15px;
    color: #b2d0d3;
}

.tracks_tool_bar > .tool_button {
    width: 17px;
    height: 17px;
    margin: 0 2px 0 2px;
}
.tool_button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b2d0d3;
    outline: solid 2px transparent;
    outline-offset: 2px;
    border-radius: 5px;
    transition: outline-color 0.3s 0.05s, color 0.35s, outline-offset 0.4s;
}
.tool_button > i {
    transition: transform 0.3s, color 0.1s;
}

#tool_caret_right > i {
    margin: 1px 0 0 -1px;
}
#tool_caret_right:hover {
    outline: solid 2px #f69238;
    color: #f69238;
    outline-offset: 0px;
}
#tool_caret_right:hover > i {
    transform: rotateZ(90deg);
    transition: transform 0.3s;
}
#tool_magnet > i {
    margin: -1px 0 0 0;
}
#tool_magnet:hover {
    outline: solid 2px #7eefa9;
    color: #7eefa9;
    outline-offset: 0px;
}
#tool_pencil {
    margin-left: 10px;
}
#tool_pencil:hover {
    outline: solid 2px #fcba40;
    color: #fcba40;
    outline-offset: 0px;
}
#tool_brush > i {
    margin: 3px 0 0 2px;
}
#tool_brush:hover {
    outline: solid 2px #7bcefd;
    color: #7bcefd;
    outline-offset: 0px;
}
#tool_delete:hover {
    outline: solid 2px #ff5b53;
    color: #ff5b53;
    outline-offset: 0px;
}
#tool_mute > i{
    margin: 1px 0 0 0;
}
#tool_mute:hover {
    outline: solid 2px #ff54b0;
    color: #ff54b0;
    outline-offset: 0px;
}
#tool_resize:hover {
    outline: solid 2px #ffa64a;
    color: #ffa64a;
    outline-offset: 0px;
}
#tool_slice:hover {
    outline: solid 2px #85b3ff;
    color: #85b3ff;
    outline-offset: 0px;
}
#tool_expand:hover {
    outline: solid 2px #ffab60;
    color: #ffab60;
    outline-offset: 0px;
}
#tool_search:hover {
    outline: solid 2px #85b3ff;
    color: #85b3ff;
    outline-offset: 0px;
}
#tool_volume:hover {
    outline: solid 2px #ffa64a;
    color: #ffa64a;
    outline-offset: 0px;
}








#bars_cursor {
    position: absolute;
    left: -10px;
    margin-top: 1px;
    cursor: grab;
}

.line_cursor {
    width: 15px;
    height: inherit;
    position: absolute;
    z-index: 3;
    left: 0px;
    border-style: none solid none none;
    border-width: 1px;
    border-color: #32cd32;
    background: linear-gradient(270deg, #32cd326b, transparent);
}






#drag_container {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
    background-color: var(--bg-darker);
    color: var(--bg-light);
    border-radius: 5px;
    padding: 4px;
    /* the objects in the document need to be able to recieve move events, to 
    determine if they want to display sth special, when hovered with an item, 
    so pass every event right through the object */
    pointer-events: none;
    transition: transform 0.1s;
}








.sidebar_item_lvl1 {
    margin: 0px;
    height: 22px;
    display: flex;
    align-items: center;
}

.sidebar_item_lvl1 > i {
    margin: 0px 4px 0px 5px;
}

.sidebar_item_lvl1_text {
    margin: 0px;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}








.header_panel {
    width: fit-content;
    padding: 3px 2px 3px 0px;
    height: 34px;
    background-color: #596267;
    border-color: var(--bg-medium);
    border-style: solid;
    border-width: 1px;
    display: flex;
    align-items: center;
}

.header_panel_handle_wrapper {
    height: inherit;
    width: 8px;
    display: flex;
    align-items: center;
}

.header_panel_handle {
    width: 8px;
    height: 50px;
    background-color: var(--bg-dark);
    clip-path: url(#handle_path);
    transform: scaleY(0.7) scaleX(0.9);
}







#button_minimize, #button_maximize, #button_close {
    width: 10px!important;
    height: 10px!important;
}

#button_minimize > i, #button_maximize > i, #button_close > i {
    transform: scale(1.0);
}

.header_menu {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: inherit;
    background-color: #5f7374;
    border-style: solid;
    border-width: 1px;
    border-color: var(--bg-medium);
    padding-right: 3px;
}

.header_menu > div {
    margin-left: 3px;
    display: flex;
    align-items: center;
}

.header_menu > div > p {
    font-size: 0.88em;
    color: white;
    /*transform: scaleY(1.7);*/
}






.header_time {
    height: 34px;
    width: 100px;
    background-color: #536566;
    margin-left: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--bg-medium);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_time > label {
    color: white;
    font-size: 25px;
    user-select: none;
    transform: scaleY(1.2);
}





.header_waveview {
    width: 150px;
    height: inherit;
    background-color: #3e464b;
    border-style: solid;
    border-width: 1px;
    border-color: var(--bg-dark);
}

#header_waveview {
    width: inherit;
    height: inherit;
}

.header_levelmeter {
    height: 60%;
    width: 80px;
    margin: 3px 1px 7% 2px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--bg-dark);
}

.header_levelmeter_side {
    height: 50%;
    width: 100%;
    background-color: #3e464b;
    margin: 0px;
}







.header_help {
    width: 300px;
    height: inherit;
    background-color: var(--bg-medium);
    border-style: solid;
    border-width: 1px;
    border-color: var(--bg-dark);
    padding-right: 3px;
}

.header_help > p:nth-of-type(1) {
    color: #b1b1b1;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    height: 50%;
    margin: 0px;
    padding-left: 3px;
}

.header_help > p:nth-of-type(2) {
    color: var(--text-color);
    font-size: 0.8em;
    display: flex;
    align-items: center;
    height: 50%;
    margin: 0px;
    padding-left: 3px;
}









.record {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    border-style: solid;
    border-color: #373f43;
    border-width: 2px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

.record_red {
    width: 9px;
    height: 9px;
    border-radius: 50px;
    background-color: #f8615a;
}






.bpm {
    background-color: #c8d7de;
    /*border-radius: 25% 25% 25% 25% / 80% 80% 80% 80%; /*30% 30% 30% 30% / 75% 75% 75% 75% ;*/
    clip-path: url(#bpm_count_background);
    height: 30px;
    margin-top: 1.5px;
    margin-right: 1px;
    padding: 1px 4px 1px 4px;
    display: flex;
    flex-direction: row;
    cursor: n-resize;
}

#bpm_counter {
    width: 41px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform: scaleY(1.5);
}

#bpm_arrows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    margin-right: 2px;
}

#bpm_arrows > i {
    color: rgb(119, 172, 172);
    transform: scale(0.8);
    transition: all 0.3s;
}

#bpm_arrows > .fa-caret-up {
    margin-bottom: -4px;
}

#bpm_arrows > .fa-caret-down {
    margin-top: -4px;
}

.bpm > div > p {
    margin: 0px 0px 2px 0px;
}

.bpm :hover + #bpm_arrows > #bpm_add {
    margin-bottom: 0px;
}

.bpm :hover + #bpm_arrows > #bpm_sub {
    margin-top: 0px;
}






.header_button {
    /*border-width: 2px;
    border-style: solid;
    border-radius: 2px;*/
    margin-left: 4px;
    cursor: default;
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 3px;
}

.unclicked {
    border: solid 2px #00000069;
    background: #484e50;
    box-shadow: inset 0 0 10px 0 #00000050;
    transition: all 0.3s;
}

.clicked {
    border: solid 2px #f87911dd;
    background: #ffffff;
    box-shadow: inset 0 0 15px #f76708;
    transition: all 0.3s;
}

.header_button > i {
    margin: auto;
    color: rgb(225, 225, 225); /* clicked : rgb(80, 19, 0) */
    opacity: 0.9;
    transition: all 0.3s;
}





.player_controls {
    display: flex;
    flex-direction: row;
    height: 35px;
}

.player_controls > div > i {
    color: rgb(225, 225, 225);
}

.player_scope {
    width: 35px;
    height: inherit;
    border-radius: 20px 0px 0px 20px;
    box-shadow: inset 0 0 0 1px #00000090;
    background: linear-gradient(0deg, #000000b0, var(--bg-medium));
}

.scope_pat {
    font-size: 0.8em;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-light);
    transform: scaleX(0.93) scaleY(0.83);
}

.scope_pat_clicked {
    box-shadow: inset 0 0 11px #f76708;
    background-color: #ffffffc0;
    border-radius: 20px 0 0 0;
    color: black;
    transition: box-shadow 0.4s, background 0.4s, color 0.4s;
}

.scope_pat > p {
    position: absolute;
    top: 2px;
    left: 8px;
    margin: 0px;
}

.scope_song {
    font-size: 0.8em;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-light);
    transform: scaleX(0.93) scaleY(0.83);
}

.scope_song > p {
    position: absolute;
    left: 4px;
    font-size: 0.98em;
    margin: 0px;
}

.scope_song_clicked {
    box-shadow: inset 0 0 11px #4ef708;
    background-color: #ffffffc0;
    border-radius: 0 0 0 20px;
    color: black;
    transition: box-shadow 0.4s, background 0.4s, color 0.4s;
}

.play {
    width: 35px;
    height: inherit;
    box-shadow: inset 0 0 0 0.5px #00000090; /* it looks good, when only .play has a 0.5 border-width*/
    background: linear-gradient(0deg, #00000090, var(--bg-medium));

    display: flex;
    justify-content: center;
    align-items: center;
}

.reset {
    width: 40px;
    height: inherit;
    border-radius: 0px 20px 20px 0px;
    box-shadow: inset 0 0 0 1px #00000090;
    background: linear-gradient(0deg, #00000090, var(--bg-medium));

    display: flex;
    justify-content: center;
    align-items: center;
}

.player_controls > div > i {
    transform: scale(0.7);
}






.slider {
    height: 80px;
    width: 20px;
    display: flex;
    justify-content: center;
    margin: 2px;
}

.bar {
    background-color: var(--bg-dark);
    width: 6px;
    height: inherit;
    border-radius: 10px;
    z-index: 0;
}

.handle {
    width: 25px;
    height: 15px;
    border-radius: 10px;
    background-color: #2a2a2a; /*#2a2a2aa0*/
    position: absolute;
    z-index: 1;
    cursor: grab;
    
    box-shadow: rgba(0, 0, 0, 0.17) 0px -3px 3px 0px inset, rgba(0, 0, 0, 0.15) 0px -3px 3px 0px inset, rgba(0, 0, 0, 0.1) 0px -8px 4px 0px inset;

    display: flex;
    justify-content: center;
    align-items: center;
}

.handle_color {
    position: absolute;
    background-color: #9aff40;
    width: 12px;
    height: 3px;
    border-radius: 2px;
    box-shadow: inset 0 0 2px black;
}

.slider_h {
    width: 209px;
    height: 20px;
    display: flex;
    align-items: center;
    margin: 2px;
    position: relative;
}

.bar_h {
    background-color: #6c757a;
    border: solid 1px #00000050;
    height: 6px;
    width: inherit;
    border-radius: 10px;
    z-index: 0;
}

.handle_h {
    width: 15px;
    height: 25px;
    border-radius: 10px;
    background-color: #2a2a2a;
    position: absolute;
    z-index: 1;
    cursor: grab;

    box-shadow: rgba(0, 0, 0, 0.17) 0px -3px 3px 0px inset, rgba(0, 0, 0, 0.15) 0px -3px 3px 0px inset, rgba(0, 0, 0, 0.1) 0px -5px 4px 0px inset;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.handle_color_h {
    position: absolute;
    background-color: #9aff40;
    width: 3px;
    height: 12px;
    border-radius: 2px;
    box-shadow: inset 0 0 2px black;
}




.sidebar_sample {
    position: absolute;
    height: 30px;
    width: 100%;
    background-color: #17b4db;
    /*margin: 4px 2px 4px 2px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    border-radius: 3px;
    z-index: 0;
}

.sidebar_sample > div {
    width: 15px;
    height: 15px;
    margin-right: 4px;
}

.sidebar_sample > div > i {
    color: white;
}

.sidebar_sample > label {
    margin-left: 4px;
    color: var(--text-color);
}

.sample_wrapper {
    height: 30px;
    width: 100%;
}