:root {
    --bg-light: #505b61;
    --bg-medium: #2d3a40;
    --bg-dark: #242f35;

    --track-light: #40505a;
    --track-dark: #3a4a54;

    --border-color: #010102aa;

    --text-color: aliceblue;
}

::-webkit-scrollbar {
    background-color: var(--bg-dark);
    box-shadow: inset 0px 0px 6px 5px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg-medium);
    
    border-style: solid;
    border-color: #000000aa;
    border-width: 1px;
}

::-webkit-scrollbar-corner {
    background-color: var(--bg-medium);
}

html {
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: smaller;
}

header {
    background-color: var(--bg-light);
    min-height: 100px;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

body {
    background-color: blue;
    margin: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#content {
    display: flex;
    flex-direction: row;
    height: inherit;
    background-color: var(--bg-medium);
}

.sidebar {
    background-color: var(--bg-medium);
    overflow-y: scroll;
    margin-right: -4px;
    flex-grow: 1;
    max-width: 150px;
    min-width: 100px;
    width: 150px;
}

.main_content {
    flex-grow: 20;
    min-width: 0;
    border: 1px solid var(--border-color);
}

.sidebar_resize {
    cursor: w-resize;
    width: 8px;
    left: 0px;
    margin-right: -4px;
    top: 0px;
    bottom: 0px;
    z-index: 2;
    min-width: 8px;
}





.tracks {
    overflow-x: scroll;
    overflow-y: scroll;
    height: 100%;
    max-width: 100%;
}

main::-webkit-scrollbar {
    color: blue!important;
    background-color: blue!important;
}

.track_add {
    display: flex;
    justify-content: center;
}

.track_add > label{
    color: #ffffff55;
    font-weight: 900;
    cursor: pointer;
    user-select: none;
}

.track {
    /*height: 100px; specifying the dimensions of the canvas here will cause wrong coordinates
    width: 2100px;*/
    min-height: 100px;
    max-height: 300px;
    margin-bottom: 2px;
}

#track_wrap {
    width: 100%;
    height: inherit;
    min-height: 100px;
    max-height: 300px;
    display: flex;
    color: var(--text-color);
    position: relative;
    z-index: 0;
}

#track_resize {
    width: inherit;
    height: 10px;
    margin-top: -5px;
    margin-bottom: -5px;
    cursor: n-resize;
    width: inherit;
    position: relative;
    z-index: 1;
}

.description {
    max-width: 200px;
    min-width: 100px;
    border-radius: 0px 10px 10px 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(86, 51, 161);
    background-color: #5e39ab;
    user-select: none;
}

.track_content {
    /*border-radius: 2px;
    border-style: none solid solid solid;
    border-width: 1px;
    border-color: var(--border-color);*/
    flex-grow: 1;
    position: relative;
    z-index: 0;
}

.track_background {
    width: 2000px;
    height: 100%;
    position: absolute;
    z-index: 0;
}

#track_canvas {
    width: 100%;
    height: 100%;
}

.track_object {
    position: absolute;
    background-color: rgba(255, 0, 0, 0.3);
    width: 160px;
    height: 100%;
}

.track_object_label {
    width: 100%;
    height: 15px;
    background-color: rgba(255, 0, 0, 1.0);
    border-radius: 3px;
    box-shadow: inset 0px -2px 4px 0px rgba(0, 0, 0, 0.45);
}

.track_object_label > p {
    color: var(--text-color);
    font-size: 10px;
    padding: 2px;
    margin: 0px;
}




.header_panel {
    width: fit-content;
    padding: 5px 5px 5px 0px;
    height: fit-content; /*60*/
    background-color: var(--bg-light);
    border-color: var(--bg-medium);
    border-style: solid;
    border-width: 1px;
    display: flex;
    align-items: center;
}

.header_panel_handle_wrapper {
    height: inherit;
    width: 8px;
    display: flex;
    align-items: center;
}

.header_panel_handle {
    width: 8px;
    height: 50px;
    background-color: var(--bg-dark);
    clip-path: url(#handle_path);
}





.record {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border-style: solid;
    border-color: var(--bg-medium);
    border-width: 2px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 3px;
}

.record_red {
    width: 12px;
    height: 12px;
    border-radius: 50px;
    background-color: red;
}






.bpm {
    background-color: rgb(200, 240, 240);
    border-radius: 25% 25% 25% 25% / 80% 80% 80% 80%; /*30% 30% 30% 30% / 75% 75% 75% 75% ;*/
    height: 20px;
    margin: 4px;
    padding: 3px 4px 3px 4px;
    display: flex;
    flex-direction: row;
}

#bpm_counter {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

#bpm_arrows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
    margin-right: 2px;
}

#bpm_arrows > i {
    color: rgb(119, 172, 172);
    transform: scale(0.8);
}

#bpm_arrows > .fa-caret-up {
    margin-bottom: -4px;
}

#bpm_arrows > .fa-caret-down {
    margin-top: -4px;
}

.bpm > div > p {
    margin: 0px 0px 2px 0px;
}






.header_button {
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
    padding: 3px;
    cursor: default;
    display: flex;
    justify-content: center;
    width: 20px;
    height: 20px;
}

.unclicked {
    border-color: #141414;
    background: rgb(36,47,53);
    box-shadow: inset 0 0 5px #000000;
}

.clicked {
    border-color: #f87911dd;
    background: #ffffff;
    box-shadow: inset 0 0 15px #f76708;
}

.header_button > .fa-solid {
    margin: auto;
    color: rgb(225, 225, 225); /* clicked : rgb(80, 19, 0) */
    opacity: 0.9;
    transform: scale(1.15);
}





.player_controls {
    display: flex;
    flex-direction: row;
    height: 40px;
}

.player_controls > div > i {
    color: rgb(225, 225, 225);
}

.player_scope {
    width: 40px;
    height: inherit;
    border-radius: 20px 0px 0px 20px;
    background-color: var(--bg-dark);
    box-shadow: inset 0px -2px 6px black;
}

.play {
    width: 34px;
    height: inherit;
    background-color: var(--bg-dark);
    box-shadow: inset 0px -2px 6px black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.reset {
    width: 34px;
    height: inherit;
    border-radius: 0px 20px 20px 0px;
    background-color: var(--bg-dark);
    box-shadow: inset 0px -2px 6px black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.player_controls > div > i {
    transform: scale(0.8);
}






.slider {
    height: 80px;
    width: 20px;
    display: flex;
    justify-content: center;
    margin: 2px;
}

.bar {
    background-color: var(--bg-dark);
    width: 6px;
    height: inherit;
    border-radius: 10px;
    z-index: 0;
}

.handle {
    width: 25px;
    height: 15px;
    border-radius: 10px;
    background-color: #2a2a2a; /*#2a2a2aa0*/
    position: absolute;
    z-index: 1;
    cursor: grab;
    
    box-shadow: rgba(0, 0, 0, 0.17) 0px -3px 3px 0px inset, rgba(0, 0, 0, 0.15) 0px -3px 3px 0px inset, rgba(0, 0, 0, 0.1) 0px -8px 4px 0px inset;

    display: flex;
    justify-content: center;
    align-items: center;
}

.handle_color {
    position: absolute;
    background-color: #9aff40;
    width: 12px;
    height: 3px;
    border-radius: 2px;
    box-shadow: inset 0 0 2px black;
}





.sidebar_sample {
    height: 30px;
    background-color: #17b4db;
    margin: 4px 2px 4px 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.sidebar_sample > div {
    width: 15px;
    height: 15px;
    background-color: white;
    margin-right: 4px;
}

.sidebar_sample > label {
    margin-left: 4px;
    color: var(--text-color);
}