.audio_graph_wrapper {
    height: inherit;
    padding: 0px 5px 0px 0px;
    background-color: #3f484d;
    box-shadow: inset 0 0 0 1px var(--border-color);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;

    /* just for testing of the mixer */
    height: 100%!important;
}

.audio_graph_toolbar {
    height: 20px;
    border: dashed 1px black;
}

.audio_graph_screen {
    height: 100%;
    margin: 5px;
    box-shadow: inset 0 0 14px 1px black, inset 0 0 10px 4px black;
    border-radius: 30px;
    background: radial-gradient(circle at center, #ffffff17 0%, #1212123b 70%, #000000b5 100%) var(--bg-dark);
    overflow: hidden;
    border: solid 2px black;
    outline: solid 1px #bfbfbf4d;
    box-sizing: border-box;
    position: relative;
}

.retro_effect {
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

@keyframes retro_wiggle {
    0% {background-position-y: 1px;}
    100% {background-position-y: 8px;}
}

.retro {
    display: none;
    position: relative;
    background: linear-gradient(
        to bottom,
        rgba(18, 16, 16, 0) 50%,
        rgba(0, 0, 0, 0.25) 50%
    );
    background-size: 100% 5px;
    z-index: 2;
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;

    /*animation: retro_wiggle 0.7s linear 0s infinite;*/
}

.grid_background {
    position: absolute;
    width: 100%;
    height: 100%;
}

.audio_graph_screen > .item {
    position: absolute;
    top: 10%;
    left: 30%;
    width: 200px;
    height: 250px;
}

div.input > p {
    margin-left: 10px;
    margin: 1px 0 -1px 10px;
}

div.output > p {
    margin-right: 10px;
    margin: 1px 10px -1px 0;
}

.item p {
    font-weight: bold;
    text-transform: uppercase;
    color: red;
    mix-blend-mode: screen;
    filter: blur(1px);
    top: 0;
    left: -1px;
    white-space: nowrap;
}

p::before, p::after {
    content: attr(retro);
    position: absolute;
    mix-blend-mode: screen;
}

p::before {
    top: calc(-0.4*1px);
    left: calc(0.6*1px);
    color: limegreen;
}

p::after {
    top: 0;
    left: 3px;
    color: blue;
}

.input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.item_body > div {
    margin: 5px 0;
}

.input > .connector, .output > .connector {
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 10px;
    box-shadow: -1px 0px 4px 2px red;
    mix-blend-mode: screen;
    position: relative;
}

.input > .connector {
    margin-left: -4px;
}

.output > .connector {
    margin-right: -8px;
    margin-left: 4px;
}

.input > .connector::before, .output > .connector::before {
    content: '';
    width: 8px;
    height: 8px;
    background: blue;
    left: 2px;
    top: 0px;
    position: absolute;
    border-radius: 10px;
    mix-blend-mode: screen;
    box-shadow: -1px 0px 4px 2px blue;
}

.input > .connector::after, .output > .connector::after {
    content: '';
    width: 8px;
    height: 8px;
    background: lime;
    position: absolute;
    border-radius: 10px;
    mix-blend-mode: screen;
    top: 0px;
    left: -2px;
    box-shadow: -1px 0px 4px 2px lime;
}

.output {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.item_header {
    /*box-shadow: 0px 0px 9px 3px #c8000085;*/
    box-shadow: 0px 0px 6px 2px #346278;
    position: relative;
    background-color: #346278; /*#b41f1fcc;*/
    /* border-radius: 1px 1px 0 0; */
    border: solid 1px #83838326;
}

.item_header > p {
    margin: 3px 0;
}

.item_body {
    /*background: radial-gradient(#9d9d9d26 93%, transparent) var(--bg-medium);*/
    background: var(--bg-medium);
    box-shadow: 0 0 14px 3px #9797974d;
    border: solid 1px #91919126;
    /*height: calc(100% - 20px);*/
    padding-top: 10px;

    /* temporary change, bc idk what to do with the header shadow TODO*/
    padding-top: 29px;
    margin-top: -29px;
}

/* playbutton component */
.item_body > .playbutton {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.item_body > .playbutton > i {
    color: #fff;
    filter: blur(1px);
    transform: scale(1.5);
    background: transparent;
    mix-blend-mode: screen;
    cursor: pointer;
}

/* I/O components */
.item_body svg {
    position: absolute;
}

/* stat component */
.item_body > .stat {
    margin-left: 5px;
}

.item_body > .stat > p {
    margin: 0;
}
.item_body path {
    border: 1px solid blue;
    filter: blur(1px);
}