.channel {
    width: 20px;
    height: 100%;
    background-color: #374045;
    border: solid 1px #313a40;
    border-style: none solid none solid;
}

.channel > .index_indicator {
    background-color: #636c71;
    height: 12%;
    margin: 0 -1px;
    border: solid 1px #697278;
    border-style: solid none none none;
    box-sizing: border-box;
}

.channel > .index_indicator > p {
    font-size: 7pt;
    color: var(--bg-darker);
    margin: 0;
    text-align: center;
    transform: scaleY(1.4);
}

.channel > .channel_label {
    height: 50px;
    display: flex;
    justify-content: center;
}

.channel > .channel_label > p {
    writing-mode: vertical-lr;
    text-orientation: sideways;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transform: rotate(180deg);
    margin: 4px 0 2px 0;
    font-size: 7pt;
    color: var(--text-color);
}

.channel > .channel_volume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(#374045, var(--bg-dark));
}

.channel_volume_indicator {
    height: 60px;
    margin: 3px;
    border-radius: 2px;
    /*box-shadow: inset 0 0 2px 1px #1a1a1af2;*/
    background-color: #374045;
    position: relative;
    overflow: hidden;
}

.channel_volume_indicator::before {
    content: '';
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 2px 1px #1a1a1af2;
    position: absolute;
    z-index: 3;
    border-radius: 2px;
}

.indicator_top {
    height: 100%;
    background: #374045;
    width: 100%;
    position: absolute;
    z-index: 2;
}

.indicator_bottom {
    height: 100%!important;
    background: linear-gradient(0, lime 40%, yellow 70%, red);
    width: 100%;
    position: absolute;
    border-radius: 2px;
}

.selection_indicator {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 2px;
}

.channel_volume_select {
    background: #00ff0017;
    z-index: 6;
}

.channel_volume_select2 {
    border: solid 1px #00ff00c4;
    border-width: 2px 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    background: linear-gradient(0deg, #00ff0017, #00ff0017), #374045;
}

#master_volume > .channel_volume_indicator {
    height: 84.5%;
    width: 12px;
    margin: 3px;
}

.channel_toggle {
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background-color: #646a6d;
    margin: 6px auto 8px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.channel_toggle_green {
    width: 8px;
    height: 8px;
    border-radius: 20px;
    box-shadow: inset 0 0 0 1px #000000, inset 0 1px 0 1px #ffffffe8;
    background-color: #5cff5c;
    transition: background-color 0.2s;
}

.channel_pan {
    width: 20px;
    height: 20px;
    border-radius: 30px;
    margin-bottom: -10px;
    /*background-color: #374045;*/
    background: #374045 conic-gradient(from 0deg at 50% 50%, #00000000 0%, #00000000 100%, #5cff5c 100%, #5cff5c 100%);
    box-shadow: inset 0 0 2px 0px black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.channel_pan:hover > .channel_pan_knob {
    transform: scale(0.85);
}

.channel_pan_knob {
    width: 12px;
    height: 12px;
    border-radius: 20px;
    box-shadow: 0 0 2px 1px #000000d9, inset 0px 2px 3px -1px #ffffff2e, inset 0px -2px 6px 0 #0000006b;
    background-color: #3a4144;

    transition: transform 0.3s;
}

.channel_volume_slider {
    width: 100%;
    height: 28%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.channel_volume_knob {
    position: absolute;
    width: 15px;
    height: 20px;
    top: 15%;
    border-radius: 2px;
    background-color: silver;
    box-shadow: inset 0 2px 1px 0px #dfdfdfb3, inset 0 -2px 3px 0px #5c5c5cd9;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.channel_volume_knob_peak {
    width: 15px;
    height: 5px;
    background-color: #00000014;
    box-shadow: 0 0 4px 2px #0000008c, inset 0 1px 1px 1px #ffffff6b, inset 0 -1px 2px 1px #5a5a5a4f;
    border-radius: 0.5px;
}

.channel_volume_background {
    width: 4px;
    height: 100%;
    box-shadow: inset 0 0 0 1px #242d32, 0 0 1px 0 #242d32;
    background-color: #30393e;
}

.mixer_seperator {
    width: 9px;
    background-color: var(--bg-dark);
    box-shadow: inset 0 0 1px 1px #1a1a1aeb;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-medium);
}

.mixer_seperator > i {
    margin: 0 3px;
}